API_TOKEN=0000000000:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

WEBHOOK_HOST=yourhost.com
WEBAPP_HOST=0.0.0.0
WEBAPP_PORT=8000

DATABASE_URL=sqlite+aiosqlite:///../bot.sqlite
/* DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5433/postgres */
